<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="homescreen" version="1.0.0">
  <name>Homescreen</name>
  <icon src="icon.svg"/>
  <content src="index.html" type="text/html"/>
  <description>HTML5 Homescreen demo</description>
  <author>Igalia, S.L.</author>
  <license>APL 2.0</license>
  <surface role="panel" panel="left"/>
  <window width="218"/>
  <feature name="urn:AGL:widget:required-api">
    <param name="agl_appservice" value="injection" />
  </feature>
</widget>
